site_name: MyProject Documentation
repo_url: https://github.com/mukundshelake/NanoAODTools
theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true

nav:
  - Home: index.md
  - Installation: install.md
  - Usage: usage.md
  - Stages:
      - Skimmed: Stages/Skimmed.md
      - Selection: Stages/Selection.md
      - Reconstruction: Stages/Reconstruction.md
      - Observables: Stages/Observables.md
      - BDT Variables: Stages/BDT-Variables.md
      - BDT Score: Stages/BDT-Implementation.md
  - API Reference:
      - myproject: api.md
  

