bTagSFFile: "{{ bTagSFFile }}"
efficiencyFolder : "{{ efficiencyFolder }}"
era : "{{ era }}"
bTagThreshold : {{ bTagThreshold }}
branchNames:
    sf: "{{ nominalBranch }}"
    sfup: "{{ upBranch }}"
    sfdown: "{{ downBranch }}"
        