HLTSFFile: "{{ HLTSFFile }}"
kinematics: 
    Muon:
        lohi:
            pt:
                low: {{muon_pt_lo}}
                high: {{muon_pt_hi}}
            eta:
                low: {{muon_eta_lo}}
                high: {{muon_eta_hi}}
        value: 
            tightId: 1
correctionLib:
    weightName: "{{ weightName }}"
branchNames:
    sf: "{{ nominalBranch }}"
    sfstat: "{{ statBranch }}"
    sfsyst: "{{ systBranch }}"
